<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styel.css">

</head>
<body>
    <div class="courses" >
    
<c-b img="js.png" title-c="Js">
<span slot="student">12,200</span>
<span slot="tecer">Amir</span>

</c-b>
<c-b img="py.jpg" title-c="python">
<span slot="student">140</span>
<span slot="tecer">Slavik</span>

</c-b>
<c-b title-c="HTML" img="HTML-852x479-1.png">


    
</c-b>
    </div>
  
</body>
<script type="module" src="s.js"></script>
</html>